---
import "../styles/global.css";
import "@fontsource-variable/inter";
import "@fontsource-variable/source-serif-4";
import "@fontsource-variable/lexend-deca";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Huto</title>

    <!-- Google Tag Manager -->
    <script is:raw>
      (function (w, d, s, l, i) {
        (w as any)[l] = (w as any)[l] || [];
        (w as any)[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });

        const f = d.getElementsByTagName(s)[0];
        const j = d.createElement(s);
        const dl = l !== "dataLayer" ? "&l=" + l : "";

        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode!.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-5ZRH7T85");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="dark:bg-neutral-900">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5ZRH7T85"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

    <slot />

    <script src="/scripts/date.js"></script>
    <script src="/scripts/menu.js" is:inline></script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
